{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>JST | AURA ESSENCE</title>
    <link rel="stylesheet" href="{% static '/css/signup.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" >
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100" rel="stylesheet"> <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
</head>
<body>
    <img alt="" src="{% static '/images/Design.png'  %}" width=100 id="logo"/>
    <div class="form-area">
        <h3>SIGN UP</h3>
        <form action="{% url 'accounts:signup' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" name="Signup" id="signupThing">
        </form>
    </div>
</body>
</html>
